extends base

block content
  section.tour-stats
    .container
      h2.heading-primary Tour Statistics

      .stats-container
        .stat
          h2.heading-secondary Number of Tours
          p.stat-value= stats[0].numTours
        .stat
          h2.heading-secondary Number of Ratings
          p.stat-value= stats[0].numRatings
        .stat
          h2.heading-secondary Average Rating
          p.stat-value= stats[0].avgRating.toFixed(2)
        .stat
          h2.heading-secondary Average Price
          p.stat-value= `$${stats[0].avgPrice.toFixed(2)}`
        .stat
          h2.heading-secondary Minimum Price
          p.stat-value= `$${stats[0].minPrice.toFixed(2)}`
        .stat
          h2.heading-secondary Maximum Price
          p.stat-value= `$${stats[0].maxPrice.toFixed(2)}`
